.kanban-large {
  border: 1px solid lightsalmon;
  min-height: 83vh;
  display: flex;
  width: 95%;
  margin: 0 auto;

  section {
    border: 1px solid lightsalmon;
    width: 20%;

    h2 {
      background-color: rgb(255, 208, 189);
      text-align: center;
      margin-top: 0;
      padding-top: .6rem;
      height: 3rem;
    }
  }
}