.tags-ctn {
  display: flex;
  flex-flow: row wrap;

  p {
    display: inline-block;
    // border: 1px solid blue;
    margin: .5rem;
    background-color: darkorange;
    border-radius: 10px;

    button {
      width: 2rem;
      background-color: transparent;
      box-shadow: none;
    }
  }
}