@use 'variables';

.tags-ctn {
  display: flex;
  flex-flow: row wrap;
  margin: 1.5rem 0;
  border-top: 1px solid variables.$accent;
  border-bottom: 1px solid variables.$accent;
}

.tag-chip {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: .5rem;
  background-color: variables.$accent;
  border-radius: 10px;
  padding-left: 2%;
  width: fit-content;

  span {
    display: block;
    padding-right: .6rem;
  }

  button {
    width: 2rem;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    height: 1.6rem;
  }
}

.select-tags {
  height: 6.5rem;
  overflow: scroll;
  margin: 0 auto;
  width: 90%;
  scrollbar-width: thin;
  background-color: variables.$background;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: .5rem;

  p {
    margin: 0;
  }

  .tag-btn {
    border-radius: 5px;
    padding: 0 5px;
    height: 1.6rem;
    margin: 5px;
    background-color: variables.$accent;
  }

  .tag-btn-active {
    border-radius: 5px;
    padding: 0 5px;
    height: 1.6rem;
    margin: 5px;
    background-color: variables.$primary;
  }
}

.select-tags::-webkit-scrollbar {
  width: .5rem;
}

.select-tags::-webkit-scrollbar-thumb {
  background-color: variables.$accent;
}

.select-tags::-webkit-scrollbar-corner {
  background-color: transparent;
}

.manage-tags {
  animation: .1s ease-in-out 0s 1 running popin forwards;
  box-shadow: 5px 5px 20px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 7px;
  position: absolute;
  top: 10%;
  min-height: 430px;
  width: 95%;

  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: column;

      .ctn {
        display: flex;
        align-items: center;
        width: 100%;

        input {
          width: 85%;
        }

        button {
          width: 3rem;

          i {
            margin-top: 5px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .tags-ctn {
    display: flex;
    flex-flow: row wrap;
    margin: 1.5rem 0;
  }

  .tag-chip {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: .5rem;
    border-radius: 10px;
    padding-left: 2%;
    width: fit-content;

    span {
      display: block;
      padding-right: .6rem;
    }

    button {
      width: 2rem;
      margin: 0;
      box-shadow: none;
      height: 1.6rem;
    }
  }

  .select-tags {
    height: 6.5rem;
    overflow: scroll;
    margin: 0 auto;
    width: 90%;
    scrollbar-width: thin;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: .5rem;

    p {
      margin: 0;
    }

    .tag-btn {
      border-radius: 5px;
      padding: 0 5px;
      height: 1.6rem;
      margin: 5px;
    }

    .tag-btn-active {
      border-radius: 5px;
      padding: 0 5px;
      height: 1.6rem;
      margin: 5px;
    }
  }

  .manage-tags {
    animation: .1s ease-in-out 0s 1 running popin forwards;
    box-shadow: 5px 5px 20px 10px hsla(0, 0%, 0%, 0.3);
    border-radius: 7px;
    position: fixed;
    top: 20%;
    min-height: 430px;
    width: 50%;

    form {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;

        .ctn {
          display: flex;
          align-items: center;
          width: 100%;

          input {
            width: 85%;
          }

          button {
            width: 3rem;

            i {
              margin-top: 5px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}