@use 'variables';

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red;
  width: 95%;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;

    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
      width: 90%;

      input {
        width: 100%;
      }

      button {
        width: fit-content;
      }
    }

    button {
      margin-bottom: 1rem;
    }

  }

  .delete-account-btn {
    border: 1px solid variables.$error;
    color: variables.$error;
    background-color: transparent;
    align-self: flex-start;
  }

  .delete-account-btn:hover {
    background-color: hsla(350, 100%, 50%, 0.2);
  }
}

@media screen and (min-width: 1024px) {
  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
    width: 80%;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        width: 60%;

        input {
          width: 100%;
        }
      }

      button {
        margin-bottom: 1rem;
      }
    }

    .delete-account-btn {
      align-self: flex-start;
    }

  }
}