@use 'variables';
@use 'mixins';

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;

    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
      width: 90%;

      input {
        width: 100%;
      }

      button {
        width: fit-content;
      }
    }

    button {
      margin-bottom: 1rem;
    }

  }

  .delete-account-btn {
    @include mixins.btn-outline(variables.$error);
    align-self: flex-start;
  }

  .delete-account-btn:hover {
    background-color: hsla(350, 100%, 50%, 0.2);
  }

  .modal-delete {
    background-color: white;
    position: absolute;
    width: 90vw;
    top: 50vh;
    left: 5%;
    height: 200px;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 10px hsla(0, 0%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: .5rem;
    }

    .alert {
      color: variables.$error;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 1024px) {
  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        width: 60%;

        input {
          width: 100%;
        }
      }

      button {
        margin-bottom: 1rem;
      }
    }

    .delete-account-btn {
      align-self: flex-start;
    }

  }
}