/*colors*/
$primary: hsl(42, 95%, 60%);
$secondary: hsl(25, 85%, 60%);
$accent: hsl(200, 85%, 70%);
$background: hsl(15, 65%, 95%);
$text: hsl(25, 35%, 10%);

$shadow: 10px 10px 25px 0px hsla(0, 30%, 18%, 0.4);