@use 'variables';
@use 'loginsignup';
@use 'kanban';
@use 'appForms';
@use 'tags';

body {
  background-color: white;
  font-family: 'Hind', sans-serif;
}

header {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: variables.$primary;

  .header-ctn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  a {
    display: block;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

  a:hover {
    color: variables.$accent;
  }

  .app-title {
    justify-self: flex-start;
    font-size: 2rem;
    margin-left: 4rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .logout-btn {
    color: white;
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
  }
  .logout-btn:hover {
    color: variables.$accent;
    background-color: transparent;
  }
}

.page {
  // border: 1px solid deeppink;
  min-height: 93vh;
}

h1 {
  text-align: center;
  color: variables.$secondary;
  margin: 1rem;
  font-family: 'Montserrat', sans-serif;
}

input,
select {
  height: 2.7rem;
  border-radius: 10px;
  border: none;
  background-color: variables.$background;
}

input[type="radio"] {
  height: 2rem;
}

button {
  height: 2.5rem;
  background-color: variables.$primary;
  border: none;
  border-radius: 20px;
  width: 10vw;
  font-weight: bold;
  color: white;
}

button:hover {
  background-color: variables.$accent;
}

p,
li {
  color: variables.$text;
}

dialog {
  display: block;
  width: 50%;

}

footer {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: variables.$primary;
  padding: 1%;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .kanban-large {
    display: flex;
  }

  .kanban-carousel {
    display: none;
  }
}