@use 'variables';
@use 'loginsignup';
@use 'kanban';
@use 'appForms';
@use 'tags';
@use 'userPage';

body {
  background-color: white;
  font-family: 'Hind', sans-serif;
  border: 1px solid dodgerblue;
}

header {
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: variables.$primary;
  width: 100vw;

  .header-ctn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: variables.$tertiary;
    width: 100%,
  }

  a {
    display: block;
    margin: 0 .5rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

  a:hover {
    color: variables.$accent;
  }

  .app-title {
    justify-self: flex-start;
    font-size: 1.5rem;
    // border: 1px solid green;
    // margin-left: 4rem;
    color: white;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
  }

  .logout-btn {
    color: white;
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
  }

  .logout-btn:hover {
    color: variables.$accent;
    background-color: transparent;
  }
}

.page {
  // border: 1px solid deeppink;
  min-height: 84.3vh;
}

h1 {
  text-align: center;
  color: variables.$secondary;
  margin: 1rem;
  font-family: 'Montserrat', sans-serif;
}

input,
select {
  height: 2.7rem;
  border-radius: 10px;
  border: none;
  background-color: variables.$background;
}

input[type="radio"] {
  height: 2rem;
}

button {
  height: 2.5rem;
  background-color: variables.$primary;
  border: none;
  border-radius: 10px;
  // width: 10vw;
  padding: 0 10px;
  font-weight: bold;
  color: white;
}

button:hover {
  background-color: variables.$accent;
}

p,
li {
  color: variables.$text;
}

dialog {
  display: block;
  width: 50%;

}

footer {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: variables.$primary;
  padding: 1%;
  margin-top: 1rem;
  border-bottom: 3px solid variables.$primary;

  a {
    display: block;
    margin-left: .7rem;
    text-decoration: none;
    font-weight: bold;
    color: variables.$secondary;
  }

  a:hover {
    color: variables.$accent;
  }
}

.delete-btn {
  background-color: variables.$error;
}

@media screen and (min-width: 1024px) {
  .kanban-large {
    display: flex;
  }

  .kanban-carousel {
    display: none;
  }

  header {
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: variables.$primary;
    width: 99vw;

    .header-ctn {
      background-color: transparent;
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // border: 1px solid black;
    }

    a {
      display: block;
      margin: 0 1rem;
      text-decoration: none;
      font-weight: bold;
    }

    .app-title {
      justify-self: flex-start;
      font-size: 2rem;
      margin-left: 4rem;
    }
  }

  .page {
    // border: 1px solid deeppink;
    min-height: 84.3vh;
  }

  i {
    margin-right: 5px;
  }

  h1 {
    margin: 1rem;
  }

  input,
  select {
    height: 2.7rem;
  }

  input[type="radio"] {
    height: 2rem;
  }

  button {
    height: 2.5rem;
    padding: 0 10px;
  }

  dialog {
    display: block;
    width: 50%;
  }

  footer {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
    margin-top: 1rem;

    a {
      display: block;
      margin-left: .7rem;
    }

  }
}