@use 'variables';
@use 'loginsignup';
@use 'kanban';
@use 'appForms';

body {
  background-color: variables.$background;
}

header {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(white, transparent);

  .header-ctn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  a {
    display: block;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    color: variables.$primary;
  }
  a:hover {
    color: variables.$accent;
  }

  .app-title {
    justify-self: flex-start;
    font-size: 2rem;
    margin-left: 4rem;
    color: variables.$primary;
  }

  .logout-btn {
    color: variables.$secondary;
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
  }
}

.page {
  // border: 1px solid deeppink;
  height: 93vh;
}

h1 {
  text-align: center;
  color: variables.$primary;
  margin: 1rem;
}

input,
select {
  height: 2.7rem;
  border-radius: 10px;
  border: none;
  box-shadow: variables.$shadow;
}

input[type="radio"] {
  height: 2rem;
}

button {
  height: 2.5rem;
  background-color: variables.$primary;
  border: none;
  border-radius: 20px;
  width: 10vw;
  box-shadow: variables.$shadow;
  font-weight: bold;
  color: white;
}

button:hover {
  background-color: variables.$accent;
}

p, li {
  color: variables.$text;
}

@media screen and (min-width: 1024px) {
  .kanban-large {
    display: flex;
  }

  .kanban-carousel {
    display: none;
  }
}