/*colors*/
.user-form form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 3%;
  background-color: white;
}
.user-form form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 15px;
  padding: 3%;
}
.user-form form label input {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 90%;
  align-self: center;
}

.btn-ctn {
  margin-bottom: 1rem;
  padding: 0 1%;
  display: flex;
  justify-content: flex-end;
}

.kanban-large {
  min-height: 80vh;
  display: none;
  width: 95%;
  margin: 0 auto;
}
.kanban-large section {
  margin: 0 0.5%;
  border-radius: 15px;
  background-color: #eceded;
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.kanban-large section h2 {
  background: #f5b608;
  text-align: center;
  margin-top: 0;
  padding-top: 0.6rem;
  height: 3rem;
  width: 100%;
  color: #10355f;
  border-radius: 15px 15px 0 0;
  font-family: "Montserrat", sans-serif;
}

.kanban-carousel {
  border: 1px solid lightsalmon;
  min-height: 83vh;
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.kanban-carousel .carousel {
  overflow: hidden;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 88%;
  z-index: 20;
}
.kanban-carousel .carousel .inner {
  white-space: nowrap;
  transition: transform 0.3s;
  border: 1px solid blue;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  z-index: 20;
}
.kanban-carousel .carousel .inner section {
  margin: 0 0.5%;
  border-radius: 15px;
  background-color: #eceded;
  border: 1px solid green;
  width: 81vw;
  height: 93vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.kanban-carousel .carousel .inner section h2 {
  background-color: rgb(255, 208, 189);
  text-align: center;
  margin-top: 0;
  padding-top: 0.6rem;
  height: 3rem;
  width: 100%;
}
.kanban-carousel button {
  height: 3rem;
}

.column-ctn {
  width: 100%;
}

.app-card-ctn {
  width: 100%;
  background-color: transparent;
}

.app-card {
  width: 95%;
  border-radius: 10px;
  height: 200px;
  margin: 1% auto;
  box-shadow: 1px 1px 2px 0px hsla(0, 30%, 18%, 0.4);
}
.app-card h3 {
  padding: 5%;
  padding-bottom: 1%;
  font-size: 1.05rem;
  margin: 0;
  width: 90%;
  color: #050a1e;
  font-family: "Montserrat", sans-serif;
}
.app-card h4 {
  padding: 0 5%;
  margin: 0;
  color: hsl(0, 0%, 50%);
}

.app-details {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
}
.app-details article {
  background-color: white;
  position: absolute;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 700px;
  padding: 2%;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.app-details article h3 {
  text-align: center;
}
.app-details article button {
  align-self: flex-end;
}
.app-details article ul {
  border: 1px solid seagreen;
  width: 70%;
  line-height: 2rem;
  list-style-type: none;
}

.add-form {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}
.add-form form {
  background-color: white;
  position: absolute;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 700px;
  padding: 2%;
  border-radius: 15px;
}
.add-form form .tags-label {
  margin: 0;
  margin: 0 auto;
  width: 90%;
}
.add-form form .grid-ctn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 6rem;
  align-items: center;
  justify-items: center;
}
.add-form form .grid-ctn label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 80%;
}
.add-form form .grid-ctn label input,
.add-form form .grid-ctn label select {
  width: 90%;
  align-self: center;
}
.add-form form .radio-ctn {
  width: 90%;
  margin: 0 auto;
}
.add-form form .radio-ctn p {
  margin: 0;
}
.add-form form .radio-ctn label {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.modal {
  background-color: white;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 700px;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 10px hsla(0, 0%, 0%, 0.3);
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  width: 70%;
}

.tags-ctn {
  display: flex;
  flex-flow: row wrap;
}
.tags-ctn p {
  display: inline-block;
  margin: 0.5rem;
  background-color: darkorange;
  border-radius: 10px;
}
.tags-ctn p button {
  width: 2rem;
  background-color: transparent;
  box-shadow: none;
}

.select-tags {
  height: 6.5rem;
  overflow: scroll;
  margin: 0 auto;
  width: 90%;
  scrollbar-width: thin;
  background-color: #eceded;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 0.5rem;
}
.select-tags p {
  margin: 0;
}
.select-tags .tag-btn {
  border-radius: 5px;
  padding: 0 5px;
  height: 1.6rem;
  margin: 5px;
  background-color: #7fb0d8;
}
.select-tags .tag-btn-active {
  border-radius: 5px;
  padding: 0 5px;
  height: 1.6rem;
  margin: 5px;
  background-color: #f5b608;
}

.select-tags::-webkit-scrollbar {
  width: 0.5rem;
}

.select-tags::-webkit-scrollbar-thumb {
  background-color: #7fb0d8;
}

.select-tags::-webkit-scrollbar-corner {
  background-color: transparent;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.profile-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.profile-form form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 60%;
}
.profile-form form label input {
  width: 100%;
}
.profile-form form button {
  margin-bottom: 1rem;
}
.profile-form .divider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  color: #7fb0d8;
}
.profile-form .divider hr {
  border: none;
  border-top: 1px solid #7fb0d8;
  margin: 0;
  width: 100%;
}
.profile-form .delete-account-btn {
  border: 1px solid #dd1234;
  color: #dd1234;
  background-color: transparent;
  align-self: flex-start;
}
.profile-form .delete-account-btn:hover {
  background-color: hsla(350, 100%, 50%, 0.2);
}

body {
  background-color: white;
  font-family: "Hind", sans-serif;
}

header {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5b608;
}
header .header-ctn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header a {
  display: block;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
header a:hover {
  color: #7fb0d8;
}
header .app-title {
  justify-self: flex-start;
  font-size: 2rem;
  margin-left: 4rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}
header .logout-btn {
  color: white;
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
}
header .logout-btn:hover {
  color: #7fb0d8;
  background-color: transparent;
}

.page {
  min-height: 84.3vh;
}

h1 {
  text-align: center;
  color: #10355f;
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
}

input,
select {
  height: 2.7rem;
  border-radius: 10px;
  border: none;
  background-color: #eceded;
}

input[type=radio] {
  height: 2rem;
}

button {
  height: 2.5rem;
  background-color: #f5b608;
  border: none;
  border-radius: 20px;
  padding: 0 10px;
  font-weight: bold;
  color: white;
}

button:hover {
  background-color: #7fb0d8;
}

p,
li {
  color: #050a1e;
}

dialog {
  display: block;
  width: 50%;
}

footer {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f5b608;
  padding: 1%;
  margin-top: 1rem;
  border-bottom: 3px solid #f5b608;
}
footer a {
  display: block;
  margin-left: 0.7rem;
  text-decoration: none;
  font-weight: bold;
  color: #10355f;
}
footer a:hover {
  color: #7fb0d8;
}

.delete-btn {
  background-color: #dd1234;
}

@media screen and (min-width: 1024px) {
  .kanban-large {
    display: flex;
  }
  .kanban-carousel {
    display: none;
  }
}

/*# sourceMappingURL=App.css.map */
