@charset "UTF-8";
/*colors*/
.user-form form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 3%;
  background-color: white;
}
.user-form form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 15px;
  padding: 3%;
}
.user-form form label input {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 90%;
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .user-form form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 3%;
    background-color: white;
  }
  .user-form form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 15px;
    padding: 3%;
  }
  .user-form form label input {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 90%;
    align-self: center;
  }
}
.btn-ctn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1%;
  display: flex;
  justify-content: flex-end;
}
.btn-ctn button {
  margin-left: 1rem;
}

.kanban-large {
  min-height: 80vh;
  display: none;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}
.kanban-large .col-ctn {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.kanban-large section {
  border-radius: 15px;
  background-color: #eceded;
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0.5%;
}

h2 {
  background: #f5b608;
  text-align: center;
  margin-top: 0;
  padding-top: 0.6rem;
  height: 3rem;
  width: 100%;
  color: #10355f;
  border-radius: 15px 15px 0 0;
  font-family: "Montserrat", sans-serif;
}

.filter-bar {
  margin-bottom: 1rem;
}

.kanban-carousel {
  min-height: 83vh;
  display: flex;
  width: 98%;
  justify-content: space-between;
  margin: 0 auto;
}
.kanban-carousel button {
  border-radius: 5px;
  height: 4rem;
}
.kanban-carousel .carousel {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80vw;
}
.kanban-carousel .carousel .inner {
  white-space: nowrap;
  transition: transform 0.3s;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.kanban-carousel .carousel .inner section {
  border-radius: 15px;
  background-color: #eceded;
  width: 80vw;
  min-height: 93vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
}

.column-ctn {
  width: 100%;
}

.app-card-ctn {
  width: 100%;
  background-color: transparent;
}

.app-card {
  width: 95%;
  border-radius: 10px;
  height: 200px;
  margin: 1% auto;
  box-shadow: 1px 1px 2px 0px hsla(0, 30%, 18%, 0.4);
  background-color: white;
}
.app-card h3 {
  padding: 5%;
  padding-bottom: 1%;
  font-size: 1.05rem;
  margin: 0;
  width: 90%;
  color: #050a1e;
  font-family: "Montserrat", sans-serif;
}
.app-card h4 {
  padding: 0 5%;
  margin: 0;
  color: hsl(0, 0%, 50%);
}

.close-btn {
  display: none;
}

.app-details {
  width: 100%;
}
.app-details .app-dialog {
  background-color: white;
  max-height: 90vh;
  padding: 2%;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 15;
  width: 100%;
  position: relative;
}
.app-details .app-dialog .actions-ctn button:nth-child(2),
.app-details .app-dialog .actions-ctn button:nth-child(3) {
  background-color: #10355f;
}
.app-details .app-dialog .actions-ctn button:nth-child(2):hover,
.app-details .app-dialog .actions-ctn button:nth-child(3):hover {
  background-color: #7fb0d8;
}
.app-details .app-dialog h3 {
  padding: 1%;
  margin-bottom: 0;
  background-color: #eceded;
  width: 100%;
}
.app-details .app-dialog h3 a {
  font-size: 1.5rem;
  color: #10355f;
}
.app-details .app-dialog h3 span {
  display: inline-block;
  margin-left: 1rem;
}
.app-details .app-dialog h3 span a {
  display: inline-block;
  margin-left: 1rem;
  text-decoration: none;
  color: #7fb0d8;
  font-size: 1.3rem;
  font-style: italic;
}
.app-details .app-dialog button {
  align-self: flex-end;
}
.app-details .app-dialog button span {
  display: none;
}
.app-details .app-dialog button i {
  margin-left: 5px;
}
.app-details .app-dialog ul {
  padding-left: 1%;
  width: 90%;
  line-height: 2rem;
  list-style-type: none;
}

.actions-ctn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.actions-ctn button {
  margin-left: 1rem;
}

.select-step-btn {
  background-color: #eceded;
  color: #050a1e;
}

.select-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eceded;
  border-radius: 5px;
  position: absolute;
  box-shadow: 1px 1px 2px 0px hsla(0, 30%, 18%, 0.4);
}
.select-menu .select-option {
  color: #050a1e;
  background-color: transparent;
  font-weight: 400;
  width: 100%;
  text-align: left;
  border-radius: 0;
}
.select-menu .select-option i {
  margin-right: 0;
  margin-left: 5px;
}

.tag-ctn {
  width: 100%;
}

dialog::-webkit-scrollbar {
  width: 0.5rem;
}

dialog::-webkit-scrollbar-thumb {
  background-color: #7fb0d8;
}

dialog::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .btn-ctn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1%;
    display: flex;
    justify-content: flex-end;
  }
  .btn-ctn button {
    margin-left: 1rem;
  }
  .kanban-large {
    min-height: 80vh;
    display: none;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
  }
  .kanban-large .col-ctn {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .kanban-large section {
    border-radius: 15px;
    background-color: #eceded;
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 0.5%;
  }
  h2 {
    background: #f5b608;
    text-align: center;
    margin-top: 0;
    padding-top: 0.6rem;
    height: 3rem;
    width: 100%;
    color: #10355f;
    border-radius: 15px 15px 0 0;
    font-family: "Montserrat", sans-serif;
  }
  .kanban-carousel-ctn {
    display: block;
  }
  .kanban-carousel {
    min-height: 83vh;
    display: flex;
    width: 98%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .kanban-carousel button {
    border-radius: 5px;
    height: 4rem;
  }
  .kanban-carousel .carousel {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
  }
  .kanban-carousel .carousel .inner {
    white-space: nowrap;
    transition: transform 0.3s;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .kanban-carousel .carousel .inner section {
    border-radius: 15px;
    background-color: #eceded;
    width: 80vw;
    height: 93vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
  }
  .column-ctn {
    width: 100%;
  }
  .app-card-ctn {
    width: 100%;
    background-color: transparent;
  }
  .app-card {
    width: 95%;
    border-radius: 10px;
    height: 200px;
    margin: 1% auto;
    box-shadow: 1px 1px 2px 0px hsla(0, 30%, 18%, 0.4);
    background-color: white;
  }
  .app-card h3 {
    padding: 5%;
    padding-bottom: 1%;
    font-size: 1.05rem;
    margin: 0;
    width: 90%;
    color: #050a1e;
    font-family: "Montserrat", sans-serif;
  }
  .app-card h4 {
    padding: 0 5%;
    margin: 0;
    color: hsl(0, 0%, 50%);
  }
  .close-btn {
    background-color: transparent;
    color: #7fb0d8;
    display: block;
  }
  .app-details {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  .app-details .app-dialog {
    background-color: white;
    position: absolute;
    left: 25%;
    top: 10%;
    max-height: 800px;
    overflow: scroll;
    width: 50%;
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 0;
    animation: 0.1s ease-in-out 0s 1 running popin forwards;
  }
  .app-details .app-dialog .actions-ctn {
    border: 1px solid seagreen;
  }
  .app-details .app-dialog .actions-ctn button:nth-child(2),
  .app-details .app-dialog .actions-ctn button:nth-child(3) {
    background-color: #10355f;
  }
  .app-details .app-dialog .actions-ctn button:nth-child(2):hover,
  .app-details .app-dialog .actions-ctn button:nth-child(3):hover {
    background-color: #7fb0d8;
  }
  .app-details .app-dialog h3 {
    padding: 1%;
    margin-bottom: 0;
    background-color: #eceded;
  }
  .app-details .app-dialog h3 a {
    font-size: 1.5rem;
    color: #10355f;
  }
  .app-details .app-dialog h3 span {
    display: inline-block;
    margin-left: 1rem;
  }
  .app-details .app-dialog h3 span a {
    display: inline-block;
    margin-left: 1rem;
    text-decoration: none;
    color: #7fb0d8;
    font-size: 1.3rem;
    font-style: italic;
  }
  .app-details .app-dialog button {
    align-self: flex-end;
  }
  .app-details .app-dialog button span {
    display: inline;
  }
  .app-details .app-dialog ul {
    margin-top: 0;
    width: 70%;
    line-height: 2rem;
    list-style-type: "➜";
  }
  .app-details .app-dialog strong {
    margin-left: 0.5rem;
  }
  .app-details .app-dialog .tag-ctn {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
  }
  dialog::-webkit-scrollbar {
    width: 0.5rem;
  }
  dialog::-webkit-scrollbar-thumb {
    background-color: #7fb0d8;
  }
  dialog::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
.tags-ctn {
  display: flex;
  flex-flow: row wrap;
  margin: 1.5rem 0;
  border-top: 1px solid #7fb0d8;
  border-bottom: 1px solid #7fb0d8;
}

.tag-chip {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5rem;
  background-color: #7fb0d8;
  border-radius: 10px;
  padding-left: 2%;
  width: fit-content;
}
.tag-chip span {
  display: block;
  padding-right: 0.6rem;
}
.tag-chip button {
  width: 2rem;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  height: 1.6rem;
}

.select-tags {
  height: 6.5rem;
  overflow: scroll;
  margin: 0 auto;
  width: 90%;
  scrollbar-width: thin;
  background-color: #eceded;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 0.5rem;
  animation: 0.1s ease-in-out 0s 1 running popin forwards;
}
.select-tags p {
  margin: 0;
}
.select-tags .tag-btn {
  border-radius: 5px;
  padding: 0 5px;
  height: 1.6rem;
  margin: 5px;
  background-color: #7fb0d8;
}
.select-tags .tag-btn-active {
  border-radius: 5px;
  padding: 0 5px;
  height: 1.6rem;
  margin: 5px;
  background-color: #f5b608;
}

.select-tags::-webkit-scrollbar {
  width: 0.5rem;
}

.select-tags::-webkit-scrollbar-thumb {
  background-color: #7fb0d8;
}

.select-tags::-webkit-scrollbar-corner {
  background-color: transparent;
}

.manage-tags {
  animation: 0.1s ease-in-out 0s 1 running popin forwards;
  box-shadow: 5px 5px 20px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 7px;
  position: fixed;
  top: 20%;
  min-height: 430px;
}
.manage-tags form {
  display: flex;
  flex-direction: column;
}
.manage-tags form label {
  display: flex;
  flex-direction: column;
}
.manage-tags form label .ctn {
  display: flex;
  align-items: center;
  width: 100%;
}
.manage-tags form label .ctn input {
  width: 85%;
}
.manage-tags form label .ctn button {
  width: 3rem;
}
.manage-tags form label .ctn button i {
  margin-top: 5px;
  margin-left: 5px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.profile-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.profile-form form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  width: 90%;
}
.profile-form form label input {
  width: 100%;
}
.profile-form form label button {
  width: fit-content;
}
.profile-form form button {
  margin-bottom: 1rem;
}
.profile-form .delete-account-btn {
  border: 1px solid #dd1234;
  color: #dd1234;
  background-color: transparent;
  align-self: flex-start;
}
.profile-form .delete-account-btn:hover {
  background-color: hsla(350, 100%, 50%, 0.2);
}

@media screen and (min-width: 1024px) {
  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .profile-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
  }
  .profile-form form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 60%;
  }
  .profile-form form label input {
    width: 100%;
  }
  .profile-form form button {
    margin-bottom: 1rem;
  }
  .profile-form .delete-account-btn {
    align-self: flex-start;
  }
}
.add-form {
  width: 100vw;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  border: none;
  left: 0;
  top: 0;
  z-index: 100;
}
.add-form form {
  background-color: white;
  position: sticky;
  left: 0;
  top: 4rem;
  width: 100%;
  padding: 2%;
  border-radius: 15px;
}
.add-form form .tags-label {
  margin: 0;
  margin: 0 auto;
  width: 90%;
}
.add-form form .grid-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.add-form form .grid-ctn label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 80%;
}
.add-form form .grid-ctn label input,
.add-form form .grid-ctn label select {
  width: 90%;
  align-self: center;
}
.add-form form .radio-ctn {
  width: 90%;
  margin: 0 auto;
}
.add-form form .radio-ctn p {
  margin: 0;
}
.add-form form .radio-ctn label {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.modal {
  background-color: white;
  position: fixed;
  left: 2.5%;
  top: 10%;
  width: 95%;
  height: 700px;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 10px hsla(0, 0%, 0%, 0.3);
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .add-dialog .add-form,
  .add-dialog .update-form,
  .update-dialog .add-form,
  .update-dialog .update-form {
    background-color: white;
    position: fixed;
    left: 20%;
    top: 10%;
    width: 60%;
    height: 700px;
    padding: 2%;
    border-radius: 15px;
    animation: 0.1s ease-in-out 0s 1 running popin forwards;
  }
  .add-dialog .add-form .tags-label,
  .add-dialog .update-form .tags-label,
  .update-dialog .add-form .tags-label,
  .update-dialog .update-form .tags-label {
    margin: 0;
    margin: 0 auto;
    width: 90%;
  }
  .add-dialog .add-form .grid-ctn,
  .add-dialog .update-form .grid-ctn,
  .update-dialog .add-form .grid-ctn,
  .update-dialog .update-form .grid-ctn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 6rem;
    align-items: center;
    justify-items: center;
  }
  .add-dialog .add-form .grid-ctn label,
  .add-dialog .update-form .grid-ctn label,
  .update-dialog .add-form .grid-ctn label,
  .update-dialog .update-form .grid-ctn label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
  }
  .add-dialog .add-form .grid-ctn label input,
  .add-dialog .add-form .grid-ctn label select,
  .add-dialog .update-form .grid-ctn label input,
  .add-dialog .update-form .grid-ctn label select,
  .update-dialog .add-form .grid-ctn label input,
  .update-dialog .add-form .grid-ctn label select,
  .update-dialog .update-form .grid-ctn label input,
  .update-dialog .update-form .grid-ctn label select {
    width: 90%;
    align-self: center;
  }
  .add-dialog .add-form .radio-ctn,
  .add-dialog .update-form .radio-ctn,
  .update-dialog .add-form .radio-ctn,
  .update-dialog .update-form .radio-ctn {
    width: 90%;
    margin: 0 auto;
  }
  .add-dialog .add-form .radio-ctn .label-ctn,
  .add-dialog .update-form .radio-ctn .label-ctn,
  .update-dialog .add-form .radio-ctn .label-ctn,
  .update-dialog .update-form .radio-ctn .label-ctn {
    display: flex;
  }
  .add-dialog .add-form .radio-ctn p,
  .add-dialog .update-form .radio-ctn p,
  .update-dialog .add-form .radio-ctn p,
  .update-dialog .update-form .radio-ctn p {
    margin: 0;
  }
  .add-dialog .add-form .radio-ctn label,
  .add-dialog .update-form .radio-ctn label,
  .update-dialog .add-form .radio-ctn label,
  .update-dialog .update-form .radio-ctn label {
    display: flex;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 8%;
  }
  .update-dialog {
    top: -10%;
    left: 0;
    width: 100%;
  }
  .update-dialog .update-form {
    left: 0%;
    top: 0%;
    width: 100%;
  }
  .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
  }
  .modal {
    background-color: white;
    position: fixed;
    left: 30%;
    top: 30%;
    width: 50vw;
    height: 700px;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 10px hsla(0, 0%, 0%, 0.3);
    animation: 0.1s ease-in-out 0s 1 running popin forwards;
  }
  .modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 1rem;
  }
  .modal form label input,
  .modal form label select {
    width: 70%;
  }
  .modal form .btn-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 38%;
  }
  .step {
    top: -20%;
    left: -140%;
    height: 350px;
    width: 640px;
  }
  .modal-delete {
    background-color: white;
    position: absolute;
    width: 40vw;
    height: 200px;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 10px hsla(0, 0%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-delete p {
    margin: 0.5rem;
  }
  .modal-delete .alert {
    color: #dd1234;
    font-weight: bold;
  }
}
@keyframes popin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body {
  background-color: white;
  font-family: "Hind", sans-serif;
}

header {
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5b608;
  width: 100vw;
}
header .header-ctn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e48b0e;
  width: 100%;
}
header a {
  display: block;
  margin: 0 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 0.825rem;
}
header a:hover {
  color: #7fb0d8;
}
header .app-title {
  justify-self: flex-start;
  font-size: 1.5rem;
  color: white;
  padding: 5px 0;
  font-family: "Montserrat", sans-serif;
}
header .logout-btn {
  color: white;
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 0.825rem;
}
header i {
  margin-right: 5px;
}
header .logout-btn:hover {
  color: #7fb0d8;
  background-color: transparent;
}

.page {
  height: fit-content;
}

.dashboard, .profile {
  margin-bottom: 1rem;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.application a {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #10355f;
  font-size: 0.875rem;
}

h1 {
  text-align: center;
  color: #10355f;
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
}

input,
select {
  height: 2.7rem;
  border-radius: 10px;
  border: none;
  background-color: #eceded;
}

.error-input {
  border: 2px solid #dd1234;
}

input[type=radio] {
  height: 2rem;
}

button {
  height: 2.5rem;
  background-color: #f5b608;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  font-weight: bold;
  color: white;
}
button i {
  margin-right: 5px;
}

button:hover {
  background-color: #7fb0d8;
}

p,
li {
  color: #050a1e;
}

dialog {
  display: block;
  width: 50%;
  border: none;
}

.divider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  color: #7fb0d8;
}
.divider hr {
  border: none;
  border-top: 1px solid #7fb0d8;
  margin: 0;
  width: 100%;
}

footer {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f5b608;
  padding: 1%;
  border-bottom: 3px solid #f5b608;
}
footer a {
  display: block;
  margin-left: 0.7rem;
  text-decoration: none;
  font-weight: bold;
  color: #10355f;
}
footer a:hover {
  color: #7fb0d8;
}

.delete-btn {
  background-color: #dd1234;
}

.error-ctn {
  border: 1px solid #dd1234;
  margin-bottom: 1rem;
  text-align: center;
  color: #dd1234;
  background-color: hsl(350, 60%, 90%);
  border-radius: 7px;
  padding: 2%;
}

@media screen and (min-width: 1024px) {
  .kanban-large {
    display: flex;
  }
  .kanban-carousel-ctn {
    display: none;
  }
  header {
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #f5b608;
    width: 99vw;
  }
  header .header-ctn {
    background-color: transparent;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header a {
    display: block;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }
  header .app-title {
    justify-self: flex-start;
    font-size: 2rem;
    margin-left: 4rem;
  }
  header .logout-btn {
    font-size: 1rem;
  }
  .page {
    min-height: 87.8vh;
  }
  .home {
    height: 87.8vh;
  }
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .error a {
    text-decoration: none;
    font-weight: bold;
    color: #10355f;
  }
  .error a:hover {
    color: #7fb0d8;
  }
  img {
    height: 87.8vh;
    width: 100vw;
    object-fit: cover;
    margin-bottom: 0;
    z-index: 0;
  }
  .statement {
    position: absolute;
    top: 20vh;
    width: 100vw;
    background-color: hsla(216, 39%, 10%, 0.6);
  }
  .statement h1 {
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 2px hsla(0, 30%, 18%, 0.4);
  }
  .statement p {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 2%;
    font-size: 1.5rem;
    line-height: 3rem;
    border-radius: 10px;
    color: white;
  }
  .statement .links-ctn {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
  }
  .statement .links-ctn a {
    background-color: #f5b608;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    padding: 1% 3%;
  }
  i {
    margin-right: 5px;
  }
  h1 {
    margin: 1rem;
  }
  input,
  select {
    height: 2.7rem;
  }
  input[type=radio] {
    height: 2rem;
  }
  button {
    height: 2.5rem;
    padding: 0 10px;
  }
  dialog {
    display: block;
    width: 50%;
  }
  footer {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
    z-index: 5;
  }
  footer a {
    display: block;
    margin-left: 0.7rem;
  }
}

/*# sourceMappingURL=App.css.map */
